*{
margin: 0;
box-sizing: border-box;
}
.navbar-brand{
    width: 10%;
}
.navbar{
    background-color: purple;
    width: 99.9%;
   
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
/* home */
.bgimg{
    background-image: url('https://img.freepik.com/premium-vector/super-sale-banner-autumn-paper-design-maple-leaves_7714-174.jpg?uid=R156931880&ga=GA1.1.178416125.1721973271&semt=sph');
    width: 98.7vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.hhead{
    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-right: -8%;
}
.hbtn{
    width: 15%;
    font-size: 15px;
    font-weight: bold;
    margin-right: -8%;
    background-color: purple;
    color: white;
    
}
/* about */
.apara{
    font-size: 25px;
    color:purple;
}
.d-block{
    aspect-ratio: 3/2;
    width: 100%;
}
/* products */
.h1{
    text-align: center;
}
.card img{
    aspect-ratio: 3/2;
}
.card-title{
    color: purple;
}
.card-text{
    color:white;
}
.space div{
    border: 10px solid white;
}
/* payment */
.input-group-text{
    background-color: purple;
    color: white;
}
.iframe{
    margin-left: 5px;
    margin-bottom: 5px;
}
.discount{
    border-radius: 500px;
   
}
.h1{
    text-align: center;
    color: purple;
    margin-top: 2%;
}
/* contacts */

.iframe{
  padding-left: 20%;
  padding-bottom: 20%;
    
}
.contact-h1{
    text-align: center;
    color: purple;
    margin-top: -4%;
    padding-bottom: 2%;
}
/* footer */
.fbgimg{
    background-color: purple;
}
.fhead{
    color: white;
    text-decoration: underline solid white;
}
.ffour h6{
    color: white;
}
.ficons{
    text-align:center;
    padding: 1%;
    
}
.ficons i{
    color: #eadd67;
    font-size: 35px;
    padding: 1.5%;
    
}
.ficons i:hover{
    color: #f50057;
}